.App {
  text-align: center;
  font-family: cursive;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,1)),url(./bg1.jpg);
  background-size: cover;
  color: #fff;
}

.top
{
  border-top: none;
}

.left
{
  border-left: none;
}

.right
{
  border-right: none;
}

.bottom
{
  border-bottom: none;
}

.gridBox
{
  width: 10%;
  margin-bottom: 0;
  line-height: 0;
}

.score
{
  font-weight: none;
}

.players
{
  font-weight: none;
  text-transform: uppercase;
  padding: 1%;
}

.closeBtn:hover
{
  color: gray;
}

.resultText
{
  font-family: cursive;
}